<section id="game-page" class="page-container fade-in">
  
  <div class="game-page-layout">

    <div class="main-game-column">
      
      <div id="unity-container" class="unity-desktop">
        <canvas id="unity-canvas" tabindex="-1"></canvas>
        <div id="unity-loading-bar">
          <div id="unity-logo"></div>
          <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
          </div>
        </div>
        <div id="unity-warning"></div>
        <div id="unity-footer">
          <div id="unity-logo-title-footer"></div>
          <div id="unity-fullscreen-button"></div>
          <div id="unity-build-title">Re-Flow</div>
        </div>
      </div>
      
      <div class="controls-card">
        <h3>Controls</h3>
        <div class="key-layout">
          <div class="key-group">
            <div class="key">A</div>
            <div class="key">D</div>
          </div>
          <span class="key-divider">OR</span>
          <div class="key-group">
            <div class="key">&larr;</div>
            <div class="key">&rarr;</div>
          </div>
        </div>
      </div>
      
    </div>

    <div class="sidebar-column">
      
      <div class="high-score-card">
        <h3>Your High Score</h3>
        <p id="high-score">0</p>
      </div>
      
      <div class="leaderboard-card">
        <h3>Top 10 Leaderboard</h3>
        <ol id="leaderboard-list">
          </ol>
      </div>
      
    </div>
    
  </div>
</section>